.card {
  width: 100%;
  margin: 2em 1em;
  padding: 1em;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card__txt {
  width: 90%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: auto;
  font-size: 17px;
}

.card__txt-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.8em;
  @extend .transitionSlowXS;

  &:hover {
    transform: translateX(0.2em);
  }
}

.card__txt-description {
  margin-bottom: 0.8em;
}

.card__txt-technologies {
  font-size: 14px;
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card__txt-technologies-tech {
  background: var(--background-image-gradient);
  margin: 0.6em 0.6em 0 0;
  padding: 0.2em 0.5em;
  @extend .transitionSlowXS;

  &:hover {
    transform: translateX(0.2em);
  }
}

.card__txt-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.8em 0;
}

.card__txt-links-github {
  -webkit-text-fill-color: var(--color-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--background-image-gradient);
  color: var(--color-gradient);
  border-image-slice: 1;
  font-weight: 700;
  z-index: 2;
  @extend .transitionSlowXS;

  &:hover {
    transform: translateX(0.3em);
  }
}

.card__txt-links-github--no-link {
  background-image: var(--background-image-gradient-grey);
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.card__img-picture {
  @extend .card__img;
  width: 90%;
  max-width: 800px;
  height: auto;
}

.card__img-card {
  width: 100%;
  max-width: 800px;
  height: auto;
  opacity: 0.8;
  box-shadow: none;
  @extend .transitionSlow;

  &:hover {
    opacity: 1;
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.32);
  }
}
