.contact {
    background-image: var(--background-image-gradient);
    color: var(--color-primary);
    clip-path: var(--clip-path-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7rem 0 3rem 0;

    @include media-up-max(md) {
        clip-path: var(--clip-path-3);
        padding: 3em 0 3rem 0;
    }

    .contact-title {
        @extend .common-titles2;
        margin-bottom: 2rem;
    }

    .contact-line {
        border: 1px solid var(--color-primary);
        width: 70%;
        max-width: 500px;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .contact-info-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            margin-bottom: 0;
            font-size: 19px;

            .contact-info-item-icon {
                font-size: 1.8rem;
                width: 40px;
                height: 40px;
                margin: .7rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                backface-visibility: hidden;
                @extend .transitionSlow;

                span {
                    color: var(--color-primary);
                    -webkit-transform: ratate(0deg) translate(0, 2px);
                    -ms-transform: ratate(0deg) translate(0, 2px);
                    -o-transform: ratate(0deg) translate(0, 2px);
                    transform: ratate(0deg) translate(0, 2px);
                    backface-visibility: hidden;
                    @extend .transitionSlow;
                }

                &:hover {
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    background-color: white;
                    backface-visibility: hidden;

                    span {
                        color: var(--color-tertiary);
                        -webkit-transform: rotate(-45deg) translate(0, 2px);
                        -ms-transform: rotate(-45deg) translate(0, 2px);
                        -o-transform: rotate(-45deg) translate(0, 2px);
                        transform: rotate(-45deg) translate(0, 2px);
                    }
                }
            }

            .contact-info-item-txt {
                &:hover {
                    color: var(--color-primary-dark);
                }
            }
        }
    }
}