.cardBackgroud {
    width: 22em;
    height: 15em;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
    padding: 1em;
    z-index: 1;
}

.imgCard {
    width: 100%;
    max-height: 20em;
}

.cardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}