.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-changer__btn {
  @extend .btn__link;
  width: 3rem;
  height: 3rem;
  margin: 0.8rem;

  &:hover {
    .theme-changer__svg {
      color: var(--color-primary);
    }
  }
}

.language-changer__btn {
  @extend .theme-changer__btn;
}

.theme-changer__svg {
  @extend .btn__txt;
  font-size: 1.5rem;
  color: var(--color-quaternary);
}

.language-changer__language {
  @extend .theme-changer__svg;
  font-size: 1.2rem;
}

.theme-changer__btn--dark {
  @extend .btn__link--dark;

  &:hover {
    .theme-changer__svg--dark {
      -webkit-text-fill-color: var(--color-secondary);
    }
  }

  &:hover {
    .theme-changer__svg {
      color: var(--color-secondary);
    }
  }
}

.language-changer__btn--dark {
  @extend .theme-changer__btn--dark;
}
