$breakpoints:(md: 768px,
  md600: 600px,
  md800: 800px,
  md900: 900px,
  xl: 1500px);

@mixin media-up-max($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}