$breakpoints:(md: 768px,
    md600: 600px,
    md800: 800px,
    xl: 1500px);

@mixin media-up-max($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.transitionSlow {
    transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}

.transitionSlowXS {
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.introduction {
    align-items: center;
    display: flex;
    font-weight: 400;
    height: 100vh;
    min-height: 100vh;
    width: 85%;
    margin-left: 15%;
    max-width: 1700px;

    .introduction-title {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
        text-align: left;

        @include media-up-max(md600) {
            font-size: 1.5rem;
            padding-right: 3%;
        }

        @include media-up-max(md800) {
            font-size: 1.5rem;
            padding-right: 3%;
        }

        h1 {
            margin: 0;
            width: 100%;
            max-width: 1000px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            span {
                display: inline-block;
            }

            .introduction-title-name {
                -webkit-text-fill-color: var(--color-gradient);
                -webkit-background-clip: text;
                background-clip: text;
                background-image: var(--background-image-gradient);
                color: var(--color-gradient);
                position: relative;
                overflow-x: hidden;
                overflow-y: visible;
                margin-left: 10px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: var(--background-image-gradient);
                    right: -100%;
                    left: 100%;
                    @extend .transitionSlowXS;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: var(--background-image-gradient);
                    position: absolute;
                    bottom: 0;
                    right: 100%;
                    left: -100%;
                    @extend .transitionSlowXS;
                }

                &:hover {
                    &:before {
                        right: 100%;
                        left: -100%;
                    }

                    &:after {
                        right: -100%;
                        left: 100%;
                    }
                }
            }
        }
    }

    .div-btn {
        align-items: center;
        margin: auto;
        background: var(--color-primary);
        position: relative;
        box-sizing: border-box;
        background-clip: padding-box;
        box-sizing: border-box;
        border: 4px solid var(--color-gradient);
        padding: 0.2rem;
        margin: 0.8rem 0;
        width: 7em;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-up-max(md600) {
            font-size: 1.3rem;
            width: 7em;
        }

        @include media-up-max(md800) {
            font-size: 1.2rem;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -4px;
            border-radius: inherit;
            background: var(--background-image-gradient);
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 110%;
            bottom: 0;
            left: 0;
            margin: 0;
            border-radius: inherit;
            background: var(--background-image-gradient);
            @extend .transitionSlow;
        }

        &:hover {
            &:after {
                right: 0;
            }

            .btn-intro {
                -webkit-text-fill-color: var(--color-primary);
            }
        }

        .btn-intro {
            -webkit-text-fill-color: var(--color-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            background-image: var(--background-image-gradient);
            color: var(--color-gradient);
            border-image-slice: 1;
            font-weight: 700;
            z-index: 2;
            @extend .transitionSlow;
        }
    }
}